import(XML)
import(RCurl)
import(RJSONIO)

export(
    programURLs,
    programCodes
)

# empty function
#    getDEInfo, # empty

export(    

    # √
    admissionDate, # in funs.R not funs2.R

    # √
    dean,
    leadDean,
    chair,
    coordinator,
    gpc,
    # person, don't export

    containsGRE,

    # √
    getDegRequirements,
    getBylawsLink,
    getDegReqLink,

    # √
    degrees,
    webSite,
    
    # √
    degReqDates,   
    bylawsDates,


    # √
    progCode,    
    progName, 
    progType,

    # This is a PRM query. Check.
    rolesByEmail    


    # Do we show DEs anymore. Don't think so.
    # getDEPrograms
)

export(fetchProgramPages)

if(FALSE) {
    export(
        nullToNA,
        mkEndDate,
        getGRENodes,
        mkDocLinkReport,
        getPara,
        getPara2,
        getFieldItems
    )
}
